<h1><%= t "email_reset_password.title" %></h1>
<p><%= t "email_reset_password.content1" %></p>
<%= link_to t("email_reset_password.active"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "email_reset_password.content2" %></p>
