<li>
  <%= gravatar_for user, size: Settings.avatar.size_users %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to t(".delete"), user, method: :delete,
                                    data: {confirm: t(".confirm_delete")} %>
  <% end %>
</li>
